.page {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--dark-color);
  border-radius: 5px;
  padding: var(--container-padding);
  min-height: calc(100vh - 2 * var(--topNavHeight) - 2 * var(--container-padding));
}

.swipeRight {
  animation-name: swipeRight;
  animation-duration: 500ms;
}

.swipeLeft {
  animation-name: swipeLeft;
  animation-duration: 500ms;
}

.page > * {
  margin-top: var(--container-padding);
}

@keyframes swipeRight {
  0% {
    transform: translateX(25px);
    opacity: .5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(-25px);
    opacity: .5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
